<!-- UNTOUCHED OUTPUT FROM CHECKPOINT -->

<section id="sidebar" style="height: 273px;">
    <h1>Search Summary</h1>
    <div id="searchsummary">

        <ul id="resultsummary">
            <li class="searchInfo">
                <span class="title">Documents matched: </span>
                <span id="totalDocumentCount" class="result searchDataForDev">39</span>
            </li>
            <li class="searchInfo">
                <span class="title">Search terms: </span>
                <span class="result">Free Text (politis)</span>
                <strong>
                <span style="font-size:x-small;" id="filterStatus"></span>
                </strong>
            </li>
        </ul>

        <div class="separador"></div>
        <ul id="searchoptions">
            <li id="editsearch" class="searchInfo">
                <a href="/maf/api/tocectory?ndd=2&amp;stid=std-anz-default&amp;ao=o.AUNZ_TOC%7C%7CIec7746151d273285a1ec7b666b3f21ca&amp;stnew=false" id="lnkEditSearch">Edit Search</a>
            </li>
            <li id="newsearch" class="searchInfo">
                <a href="/maf/api/tocectory?ndd=2&amp;stid=std-anz-default&amp;ao=o.AUNZ_TOC%7C%7CIec7746151d273285a1ec7b666b3f21ca&amp;stnew=true" id="lnkNewSearch">New Search</a>
            </li>
            <li id="savesearch" class="searchInfo">
                <a href="#" id="add2Fav" title="Save Search">Save this search to my folders</a>
                <div id="favFormContainerPopup">
                    <div id="closeFavFormContainer" class="closeFavFormContainer">&nbsp;</div>
                </div>
            </li>

        </ul>

        <div id="refinesearch">
            <h3>Filter your Search</h3>
            <form id="metadocs" class="leftResultColumn" action="/maf/app/search/filter">
                <ul>
                    <li class="collapsed hasChildren"><a id="productTypeLink" field="product.type" href="#" class="resultMetadocLink">&nbsp;</a>Content Type
                <ul id="productTypeMetadoc" class="resultMetadoc"></ul>
            </li>
            <li class="collapsed hasChildren"><a id="practiceAreaLink" href="#" field="subject.area" class="resultMetadocLink">&nbsp;</a>Subject Area
            <ul id="practiceAreaMetadoc" class="resultMetadoc"></ul>
    </li>

    <li class="collapsed hasChildren"><a field="product" id="productLink" href="#" class="resultMetadocLink">&nbsp;</a>Product Title
        <ul id="productMetadoc" class="resultMetadoc"></ul>
    </li>

    <li class="collapsed hasChildren"><a id="jurisLink" href="#" field="juris.l1" class="resultMetadocLink">&nbsp;</a>Jurisdiction
        <ul id="jurisMetadoc" class="resultMetadoc"></ul>
    </li>
</ul>

<input type="hidden" name="resultHandle" value="ia744d064000001497915dfa27d189d43">
<input type="hidden" name="ao" value="o.AUNZ_TOC||Iec7746151d273285a1ec7b666b3f21ca">
<input type="hidden" name="resultType" value="SEARCH">
<input type="hidden" name="trail" value="false">
<input type="hidden" name="predefinedRelationshipsType" value="resultList">
<input type="hidden" name="originates-from-link" value="false">
<input type="hidden" name="originates-from-link-before" value="false">
<input type="hidden" name="backToOrigResults" value="true">
<input type="hidden" name="sortid" value="Relevancy">
<input type="hidden" name="tab" value="research">
<input id="goButton" type="submit" value="Go" class="goDisabled" disabled="disabled">
</form>
</div>
</div>
</section>