{% assign settings = site.data.settings %}

<div class="row collapse is-full-width">
    <div class="medium-6 medium-push-6 columns">
        <ul class="lv-footer-links lv-inline-list text-center medium-text-right">
            <li><a target="_blank" href="{{ settings.help }}">Help</a></li>
            <li class="has-dropdown"><a href="#">Sites</a>
                <ul class="lv-dropdown">
                    <li><a href="{{ settings.checkpoint_world }}"><i class="fi-web"></i> Checkpoint World</a></li>
                    <li><a href="{{ settings.proview }}"><i class="fi-web"></i> Proview</a></li>
                    <li><a href="{{ settings.westlaw_au }}"><i class="fi-web"></i> Westlaw Australia</a></li>
                    <li><a href="{{ settings.westlaw_nz }}"><i class="fi-web"></i> Westlaw New Zealand</a></li>
                </ul>
            </li>
            <li><a target="_blank" href="{{ settings.privacy_policy }}">Privacy Policy</a></li>
            <li><a target="_blank" href="{{ settings.terms_of_use }}">Terms of Use</a></li>
        </ul>
    </div>
    <div class="medium-6 medium-pull-6 columns">
        <div class="text-center medium-text-left">
            <small class="lv-footer-legal">&copy; <b>2014</b> <a href="{{ settings.thomson_reuters_au }}">Thomson Reuters</a> (Professional) Australia LTD - ABN 64 058 668</small>
        </div>
    </div>
</div> <!-- .row -->