<div class="row collapse is-full-width">
    <div class="medium-6 medium-push-6 columns">
        <ul class="lv-footer-links lv-inline-list text-center medium-text-right">
            <li><a href="#">Help</a></li>
            <li><a href="#">Feedback</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
        </ul>
    </div>
    <div class="medium-6 medium-pull-6 columns">
        <div class="text-center medium-text-left">
            <small class="lv-footer-legal">&copy; <b>2014</b> <a href="#">Thomson Reuters</a> (Professional) Australia LTD - ABN 64 058 668</small>
        </div>
    </div>
</div>