<section class="text-center large-text-left">

	<!-- Mobile Buttons -->
	<div class="left">
		<a class="mobile-nav-btn left hide-for-large-up" href="#off-canvas-menu-left"><i class="fi-list"></i></a>
		<a id="context-menu-btn" class="mobile-nav-btn left {% if page.url == "/" %}remove{% endif %}" href="#"><i class="fi-widget"></i></a>
	</div>

	<a class="mobile-nav-btn right hide-for-large-up" href="#off-canvas-menu-right"><i class="fi-results-demographics"></i></a>

	<ul class="lv-inline-list logo-switcher-wrapper">
		<li>
			<!-- Logo -->
			<a title="Checkpoint®" class="logo show-for-medium-up" href="/">
				<img src="/img/content/logo.png" alt="Thomson Reuters Checkpoint">
			</a>
		</li>
		<li>
			<!-- Country Toggle -->
			<div class="country-toggle">
				<select>
					<option value="au">Australia</option>
					<option value="nz">New Zealand</option>
				</select>
			</div>
		</li>
	</ul>
</section>

<!-- User Profile -->
<section class="user-profile right text-right show-for-large-up">
	<div class="left">
		<strong class="user-profile-title">Jason Chen</strong>
		<a class="logout-btn" href="#">LOGOUT</a>
	</div>
	<a class="right user-profile-pic" href="#">
		<img width="40" src="/img/ui/no-face.png" alt="Profile Pic">
	</a>
</section>