<ul>
    <li class="{% if page.url == "/" %} active {% endif %}"><a href="/"><i class="fi-home"></i>&nbsp; Home</a></li>
    <li class="{% if page.url == "/research/" %} active {% endif %}"><a href="/research/cases/"><i class="fi-magnifying-glass"></i>&nbsp; Research</a></li>
</ul>

<!-- <li class="{% if page.url == "/workflow/" %} active {% endif %}"><a href="/workflow/"><i class="fi-graph-bar"></i>&nbsp; Workflow</a></li> -->
    <!-- <li class="{% if page.url == "/tools/" %} active {% endif %}"><a href="/tools/"><i class="fi-wrench"></i>&nbsp; Tools</a></li> -->
    <!-- <li class="{% if page.url == "/learning/" %} active {% endif %}"><a href="/learning/"><i class="fi-info"></i>&nbsp; Learning</a></li> -->
    <!-- <li class="{% if page.url == "/alerts/" %} active {% endif %}"><a href="/alerts/"><i class="fi-alert"></i>&nbsp; Alerts</a></li> -->
    <!-- <li class="{% if page.url == "/history/" %} active {% endif %}"><a href="/history/"><i class="fi-clock"></i>&nbsp; History</a></li> -->

<!-- <ul class="no-bullet">
    <li class="active"><a href="/research/cases/">Basic</a></li>
    <li><a href="/research/cases/">Cases</a></li>
    <li><a href="/research/cases/">Legislation / Commentary</a></li>
    <li><a href="/research/cases/">Journals</a></li>
    <li><a href="/research/cases/">News</a></li>
    <li><a href="/research/cases/">Government and Regulatory</a></li>
</ul> -->