<section class="primary-nav">
    <ul>
        <li class="{% if page.url == "/" %} active {% endif %}"><a href="/"> Home</a></li>
        <li class="{% if page.url == "/research/" %} active {% endif %}"><a href="/research/"> Research</a></li>

        <!-- <li class="{% if page.url == "/workflow/" %} active {% endif %}"><a href="/workflow/"> Workflow</a></li>
        <li class="{% if page.url == "/tools/" %} active {% endif %}"><a href="/tools/"> Tools</a></li>
        <li class="{% if page.url == "/learning/" %} active {% endif %}"><a href="/learning/"> Learning</a></li> -->
    </ul>
</section>