<ul class="lv-actions lv-inline-list medium-gaps">
    <li><a title="Save to My Folders" class="ajax-modal" href="/hints/save-to-my-folders.html"><i class="fi-save"></i></a></li>
    <li><a title="Print Documents" class="ajax-modal" href="/hints/print-documents.html"><i class="fi-print"></i></a></li>
    <li><a title="Download Documents" class="ajax-modal" href="/hints/download-documents.html"><i class="fi-download"></i></a></li>
    <li><a title="Email Documents" class="ajax-modal" href="/hints/email-documents.html"><i class="fi-mail"></i></a></li>
    <li><a title="Add to My Quicklinks" class="ajax-modal" href="/hints/add-to-my-quicklinks.html"><i class="fi-bookmark"></i></a></li>
    <li><a title="Fullscreen" class="ajax-modal" href="/hints/coming-soon.html"><i class="fi-arrows-out"></i></a></li>
</ul>